### Agent for SQL query

In [2]:
import pandas as pd

# Read the CSV file back into a pandas DataFrame
combined_df = pd.read_csv('./data/combined_df.csv', index_col='DateTime', parse_dates=['DateTime'])

In [6]:
import pandas as pd
import sqlite3

# Load the CSV file into a pandas DataFrame
df = pd.read_csv('./data/combined_df.csv')

# Assuming you want to insert into a table called 'energy_data'
table_name = "energy_data"

# Generate SQL INSERT statements from the DataFrame
sql_inserts = "\n".join([
    f"INSERT INTO {table_name} ({', '.join(df.columns)}) VALUES ({', '.join(['?' for _ in df.columns])});"
    for _ in df.itertuples(index=False)
])

# Save the INSERT statements to a .sql file
with open('./data/inserts.sql', 'w') as file:
    file.write(sql_inserts)

In [ ]:
Add sqlite for sql query on Python
    
    git reset --hard <Add sqlite for sql query on Python>

In [9]:
import pandas as pd
import sqlite3

# Load your CSV file into a pandas DataFrame
df = pd.read_csv('./data/combined_df.csv')

# Create a new SQLite database (or connect to one if it already exists)
conn = sqlite3.connect('eirgrid_data.db')

# Convert the DataFrame to SQL, creating a new table 'energy_data' in the SQLite database
df.to_sql('energy_data', conn, if_exists='replace', index=False)

# Commit changes and close the connection
conn.commit()
conn.close()

In [10]:
df.head(10)

,DateTime,NI Generation,NI Demand,NI Wind Availability,NI Wind Generation,IE Generation,IE Demand,IE Wind Availability,IE Wind Generation,SNSP,NI Solar Availability,NI Solar Generation,Moyle I/C,IE Hydro,EWIC I/C,Inter-Jurisdictional Flow
0,2014-01-01 00:00:00,637.98,859.36,367.58,365.57,2752.48,2898.72,1053.11,1020.23,0.4579,NaN,NaN,NaN,NaN,NaN,NaN
1,2014-01-01 00:15:00,625.68,855.46,345.94,352.82,2733.59,2868.97,1021.59,995.07,0.4505,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-01-01 00:30:00,614.72,840.00,333.22,339.60,2686.17,2826.42,972.06,932.71,0.4383,NaN,NaN,NaN,NaN,NaN,NaN
3,2014-01-01 00:45:00,588.73,824.25,307.44,313.66,2657.56,2786.94,985.81,959.06,0.4447,NaN,NaN,NaN,NaN,NaN,NaN
4,2014-01-01 01:00:00,593.06,818.84,306.87,315.17,2584.65,2723.94,958.63,920.82,0.4429,NaN,NaN,NaN,NaN,NaN,NaN
5,2014-01-01 01:15:00,586.70,831.37,302.89,311.27,2566.28,2686.41,965.56,930.65,0.4480,NaN,NaN,NaN,NaN,NaN,NaN
6,2014-01-01 01:30:00,599.73,826.40,312.69,322.63,2532.75,2596.84,918.10,882.18,0.4410,NaN,NaN,NaN,NaN,NaN,NaN
7,2014-01-01 01:45:00,561.82,805.79,280.63,286.50,2496.42,2543.19,954.30,922.90,0.4503,NaN,NaN,NaN,NaN,NaN,NaN
8,2014-01-01 02:00:00,543.61,784.76,267.70,277.92,2435.10,2483.39,940.28,919.49,0.4568,NaN,NaN,NaN,NaN,NaN,NaN
9,2014-01-01 02:15:00,535.37,768.59,258.76,272.14,2424.75,2437.31,971.81,943.66,0.4692,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
import os
from dotenv import load_dotenv

load_dotenv()
OPENAI_API_KEY = os.environ["OPENAI_API_KEY"]

In [ ]:
from langchain_community.utilities import SQLDatabase
import sqlite3

# Create a SQLite database in memory
conn = sqlite3.connect(':memory:')

# Load the DataFrame into an SQLite table named "energy_data"
combined_df.to_sql('energy_data', conn, if_exists='replace', index=True)

In [1]:
from langchain_community.utilities import SQLDatabase

In [2]:

db = SQLDatabase.from_uri("sqlite:///eirgrid_data.db")
print(db.dialect)
print(db.get_usable_table_names())
db.run("SELECT * FROM energy_data LIMIT 10;")

sqlite
['energy_data']

"[('2014-01-01 00:00:00', 637.98, 859.36, 367.58, 365.57, 2752.48, 2898.72, 1053.11, 1020.23, 0.4579, None, None, None, None, None, None), ('2014-01-01 00:15:00', 625.68, 855.46, 345.94, 352.82, 2733.59, 2868.97, 1021.59, 995.07, 0.4505, None, None, None, None, None, None), ('2014-01-01 00:30:00', 614.72, 840.0, 333.22, 339.6, 2686.17, 2826.42, 972.06, 932.71, 0.4383, None, None, None, None, None, None), ('2014-01-01 00:45:00', 588.73, 824.25, 307.44, 313.66, 2657.56, 2786.94, 985.81, 959.06, 0.4447, None, None, None, None, None, None), ('2014-01-01 01:00:00', 593.06, 818.84, 306.87, 315.17, 2584.65, 2723.94, 958.63, 920.82, 0.4429, None, None, None, None, None, None), ('2014-01-01 01:15:00', 586.7, 831.37, 302.89, 311.27, 2566.28, 2686.41, 965.56, 930.65, 0.4479999999999999, None, None, None, None, None, None), ('2014-01-01 01:30:00', 599.73, 826.4, 312.69, 322.63, 2532.75, 2596.84, 918.1, 882.18, 0.441, None, None, None, None, None, None), ('2014-01-01 01:45:00', 561.82, 805.79, 280.63, 286.5, 2496.42, 2543.19, 954.3, 922.9, 0.4503, None, None, None, None, None, None), ('2014-01-01 02:00:00', 543.61, 784.76, 267.7, 277.92, 2435.1, 2483.39, 940.28, 919.49, 0.4568, None, None, None, None, None, None), ('2014-01-01 02:15:00', 535.37, 768.59, 258.76, 272.14, 2424.75, 2437.31, 971.81, 943.66, 0.4692, None, None, None, None, None, None)]"